
  /* Footer */
footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px 0;
    text-align: center;
  
    .footer-content {
      max-width: 800px;
      margin: 0 auto;
  
      img {
        width: 100px;
      }
  
      .footer-social-icons {
        a {
          margin-left: 10px;
        }
      }
  
      .footer-copyright {
        font-size: 14px;
        margin: 0;
      }
    }
  }