/*------------------PAGINAS------------*/
/*PAGINA CONTACTANOS*/
.encabezado-box{
  h2{
    color: #fff;
  }
}
.Formulario {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/IMAGES/fondoEstiloAbajo.png);
  background-repeat: no-repeat;
  background-size: cover;
  form {
    padding: 50px 40px 85px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 900px;
    margin-bottom: 60px;
    margin-top: 60px;
    h2{
      color: #fff;
    }
    .line {
      display: inline-block;
      width: 50px;
      height: 7px;
      background: linear-gradient(
        90deg,
        rgb(152, 152, 152) 0%,
        rgb(17, 17, 17) 77%
      );
    }
    .input-group {
      display: flex;
      flex-direction: column;
      text-align: left;
      label {
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      input {
        padding: 17px 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        border: 2px solid white;
        color: black;
        outline: none;
        &::placeholder {
          color: rgba(102, 102, 102, 0.39);
        }
      }
      .btn {
        font-size: 16px;
        color: rgb(255, 251, 0);
        border: 0;
        border-radius: 25px;
        background: linear-gradient(
          90deg,
          rgba(19, 18, 18, 1) 0%,
          rgb(156, 156, 156) 50%);
        box-shadow: 0 0 20px;
        cursor: pointer;
        &:hover {
          background: linear-gradient(
            90deg,
            rgba(88, 88, 88, 1) 50%,
            rgba(19, 18, 18, 1) 0%);
        }
      }
    }
  }
}
/*PAGINA CONOCENOS*/
.ConoDivision {
  background-image: url(/IMAGES/fondoEstiloArriba.png);
  background-size: cover;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px;
  .DivisionImg {
    width: 50%;
    background-image: url(/IMAGES/gris1.jpg);
    border-radius: 15% 85% 97% 3% / 89% 88% 12% 11%;
    background-size: cover;
    padding: 1rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-width: 3ex 1ex 2ex;
    margin: 4px;
    h3 {
      text-align: center;
      color: #fff;
    }
    p {
      color: #fff;
      text-align: center;
    }
    }
  }
  .DivisionText {
    padding-top: 10px;
    position: absolute;
    right: 30px;
    width: 50%;
    background-image: url(/IMAGES/tinta_liquidabg.jpg);
    background-size: cover;
    border-radius: 16% 84% 19% 81% / 20% 6% 94% 80%;
    padding: 1rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-width: 3ex 1ex 2ex;
    margin: 4px;
    animation-name: liquido;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    h3 {
      text-align: center;
      color: #fff;
    }
    p {
      color: #fff;
      text-align: center;
    }
  }

  @keyframes liquido {
    0%{border-radius: 16% 84% 19% 81% / 20% 6% 94% 80%;}
    25%{border-radius: 26% 74% 29% 71% / 10% 16% 84% 90%;}
    50%{border-radius: 36% 84% 39% 61% / 0% 26% 74% 100%;}
    75%{border-radius: 26% 74% 29% 71% / 10% 16% 84% 90%;}
    100%{border-radius: 16% 84% 19% 81% / 20% 6% 94% 80%;}
  }

.LineaTiempo {
  background-image: url(/IMAGES/fondoEstiloAbajo.png);
  background-size: cover;
  width: 100%;
  height: auto;
  .histograma1 {
    width: 100%;
    height: 30rem;
    transition: 2s;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .histograma2 {
    display: none;
  }
  .histograma3{
    display: none;
  }
}

/* PAGINA PREGUNTAS */
.encabezado {
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  background-image: url(/IMAGES/fondoEstiloArriba.png);
  background-repeat: no-repeat;
  background-size: cover;

  .encabezado-box {
    background-size: cover;
    backdrop-filter: opacity(20%);
    /*background-color: rgba(150, 150, 150, 0.144);*/
    width: 50rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
.accordion {
  margin: 1rem;
  background-color: #000 !important;
  background-repeat: no-repeat;
  background-size: cover;
}
/*-----------------pagina productos----------*/
$product-card-width: 100%;
$product-card-height: 200px;

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 20px;
  transition: 2s;
  .product-card {
    width: 100%;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    img {
      width: $product-card-width;
      height: $product-card-height;
      object-fit: cover;
      transition: 2s;
      &:hover{
        transform: scale(1.1);
      }
    }

    h2 {
      font-size: 1.5rem;
      margin: 10px 0;
      background-color: #00000000;
      color: #fff;
    }

    p {
      font-size: 1rem;
      color: #fff;
    }

    .price {
      color: #fff;
      font-size: 1.25rem;
      margin: 10px 0;
    }

    .buy-button {
      background-color: #fff;
      color: #000;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #444;
        color: #fff;

      }
    }

    &:hover{
      transform: scale(1.1);
    }
  }
}
/*-----------FIN DE PAGINAS (pa que no te confundas)---------*/

/* TARJETAS */
h2 {
  text-align: center;
  background-color: #312e3c;
  color: white;
  padding: 3px;
  margin-bottom: 6px;
}
.tarjetas{
  background-image: url(/IMAGES/fondoEstiloArriba.png);
  background-size: cover;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  .move{
    width: 50%;
    background-image: url(/IMAGES/MOVE1.png);
    background-size: cover;
    height: 27rem;
    display: flex;
    margin: 30px;
    a{
      text-align: right;
      width: 100%;
      height: 100%;
      img{
        width: 40%;
        height: 100%;
      }
    }
  }
}
.banner{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  img{
    max-width: 100%;
  }
}
.container{
  .card{
    height: 100%;
    transition: 1s;
    .img-fit{
      aspect-ratio: 16/9;
      object-fit: cover;
    }
    .card-body{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn{
      transition: 1s;
      &:hover{
        transform: scale(1.1);
      }
    }
    &:hover{
      transform: scale(1.1);
    }
}
}
h1{
  text-align: center;
  color: #fff;
  background-color: #27272793;
}
